body {
    background-color: black;
}

.allcards {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Add some gap between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.app-heading-container{
    margin-bottom:2rem;
}

.card {
    background-color: #404040;
    width: 14rem;
    height: 10rem;
    font-size: 10px;
}


.card-content{
    display:flex;
}

.card-img-top {
    width: 2rem;
    height: 2rem;
    
}

.card-title {
    color: white;
    font-size: 12px;
    margin-top:0.5rem;
    margin-left:1rem;
}

.card-text {
    color: white;
    margin-top:1rem;
}

.btn {
    width: 4rem;
    height: 1.2rem;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn p {
        margin: 0; /* Remove default margin from the p tag */
    }

.app-header {
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

.app-desc {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
 